:root {
    font-family: "Roboto", sans-serif;
    color: black;
}

.vp-button_volume{
    margin-left: 10px;
    margin-top: 8px;
    font-size: 125%;
    height: 30px;
    width: 30px;
    }

.vp-button_video{padding-right: 5px;
    padding-left: 10px;
    font-size: 125%;
    width: 30px;
    height: 45px;}

.vp-button_full_screen{
    padding-left: 0px;
    font-size: 125%;
    width: 30px;
    height: 45px;}

.player-main {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    margin: 10px;
}

.player-main__container {
    flex-grow: 1;
}

.player-control {
    display: flex;
    align-items: center;
    background-color: #000000;
    height: 48px;
    font-size: 1rem;
}


.player-button {
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.25rem;
    color: #FFFFFF;
    width: 36px;
    height: 100%;
    padding: 0;
    border-style: none;
}

.progress-bar__container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;
}

.progress-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 6px;
    padding: 0 10px;
}

.progress-indicator {
    background-color: red;
    height: 6px;
    border-radius: 3px;
}

.progress-handle {
    background-color: red;
    width: 8px;
    height: 8px;
    margin-left: -6px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.progress-bar:hover .progress-handle {
    opacity: 100%;
}